executor.name = 'local'

process {
    // container images
    withName: 'fastqc' {
        container = 'staphb/fastqc:latest'
        cpus      = 8
        memory    = '4GB'
        time      = '1h'
    }

    withName: 'multiqc' {
        container = 'ewels/multiqc:latest'
        cpus      = 1
        memory    = '2GB'
        time      = '1h'
    }
    
    withName: 'porechop' {
        container = 'ahr1/porechop_abi'
        cpus      = 16
        memory    = '8GB'
        time      = '2h'
    }
    
    withName: 'bam2fastq' {
        container = 'ahr1/minimap2:latest'
        cpus      = 1
        memory    = '2GB'
        time      = '1h'
    }

    withName: 'align' {
        container = 'ahr1/minimap2:latest'
        cpus      = 8
        memory    = '16GB'
        time      = '2h'
    }

    withName: 'count_mapping_reads' {
        container = 'ahr1/minimap2:latest'
        cpus      = 1
        memory    = '2GB'
    }
}

singularity {
    enabled     = true
    autoMounts  = true
    cacheDir    = "${baseDir}/containers"
}

docker.enabled = false