executor.name = 'local'

process {
    // container images
    withName: 'merge_fastqs' {
        cpus      = 1
        memory    = '4GB'
        time      = '15m'
    }

    withName: 'rna2dna' {
        cpus      = 1
        memory    = '4GB'
        time      = '15m'
    }

    withName: 'fastqc' {
        container = 'staphb/fastqc:latest'
        cpus      = 8
        memory    = '4GB'
        time      = '1h'
    }

    withName: 'multiqc' {
        container = 'ewels/multiqc:latest'
        cpus      = 1
        memory    = '2GB'
        time      = '1h'
    }
    
    withName: 'porechop' {
        container = "ahr1/porechop_abi:mamba"
        cpus      = 16
        memory    = '8GB'
        time      = '2h'
    }
    
    withName: 'bam2fastq' {
        container = 'ahr1/minimap2:latest'
        cpus      = 1
        memory    = '2GB'
        time      = '1h'
    }

    withName: 'align' {
        container = 'ahr1/minimap2:latest'
        cpus      = 8
        memory    = '32GB'
        time      = '1h'
    }

    withName: 'summary_secondary' {
        container = 'ahr1/minimap2:latest'
        cpus      = 1
        memory    = '2GB'
    }

    withName: 'summary_base' {
        container = 'ahr1/minimap2:latest'
        cpus      = 1
        memory    = '2GB'
    }

    withName: 'seqAnalysis' {
        container = 'ahr1/maxentscan:latest'
        cpus      = 1
        memory    = '2GB'
        time      = '15m'
    }
}
docker.enabled = true
singularity.enabled = false
