# nextflow cache and work directories
.nextflow/
work/
.nextflow.log*
*.out
*.txt

# pipeline inputs and outputs
inputs*/
*output*/

# pipeline intermediate files
ref_gen/*
containers/*
*index/
logs/

# macos files
.DS_Store