/* -------- default input parameters -------- */

params {    
    // ---- required settings ----
    run_name        = 'vive-plasmid-pipeline'
    input_fastq     = "${projectDir}/inputs/*.fastq.gz"
    plasmid_ref_fa  = "${projectDir}/inputs/*.fa"
    output_dir      = "${projectDir}/output"
    
    // ---- optional settings ----
    assess_contamination    = true
    human_ref_fa            = "${projectDir}/inputs/GRCh38.primary_assembly.genome.fa"

    is_rna                  = true

    // ---- optional arguments ----
    get_bams = false
}

// -------- DONT MODIFY BELOW THIS LINE --------

profiles {
    standard {
        includeConfig 'confs/local_docker.config'
    }

    local_singularity {
        includeConfig 'confs/local_singularity.config'
    }

    cluster {
        includeConfig 'confs/slurm.config'
    }
}

// cleanup = true

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

/*          reporting and results            */

report {
    enabled     = true
    file        = "${params.output_dir}/reports/execution_report.html"
    overwrite   = true
}

timeline {
    enabled     = true
    file        = "${params.output_dir}/reports/timeline_report.html"
    overwrite   = true
}

manifest {
    name            = 'a-hr/vive-pipeline'
    author          = 'Alvaro Herrero Reiriz'
    homePage        = 'https://github.com/a-hr/vive-pipeline'
    description     = 'A pipeline to preprocess, align and analyze ONT direct RNA and cDNA sequencing data.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}