/* -------- default input parameters -------- */

params {    
    // ---- required settings ----
    experiment_name = 'vive-jul23_cDNA-pipeline'
    input_fastqs     = "${projectDir}/inputs/"
    plasmid_ref_fa  = "${projectDir}/inputs/*.fa"
    output_dir      = "${projectDir}/output-jul23_cDNA"
    
    // ---- trimming ----
    min_len = 200
    max_len = 8000
    
    // ---- optional settings ----
    assess_secondary = true
    secondary_ref_fa = "/scratch/heral/indexes/GRCh38.primary_assembly.genome.fa"

    is_rna                  = false

    // ---- optional arguments ----
    get_bams = true

    // ---- assets ----
    splice_models   = "${projectDir}/assets/splicemodels/"
    me2x5           = "${projectDir}/assets/splicemodels/me2x5"
    score3          = "${projectDir}/bin/score3.pl"
    score5          = "${projectDir}/bin/score5.pl"
    splice5seqs     = "${projectDir}/assets/splicemodels/splice5sequences"
}

// -------- DONT MODIFY BELOW THIS LINE --------

profiles {
    standard {
        includeConfig 'confs/local_docker.config'
    }

    local_singularity {
        includeConfig 'confs/local_singularity.config'
    }

    cluster {
        includeConfig 'confs/slurm.config'
    }
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// -------- REPORTING AND RESULTS --------

report {
    enabled     = true
    file        = "${params.output_dir}/reports/execution_report.html"
    overwrite   = true
}

timeline {
    enabled     = true
    file        = "${params.output_dir}/reports/timeline_report.html"
    overwrite   = true
}

manifest {
    name            = 'a-hr/vive-pipeline'
    author          = 'Alvaro Herrero Reiriz'
    homePage        = 'https://github.com/a-hr/vive-pipeline'
    description     = 'A pipeline to preprocess, align and analyze ONT direct RNA and cDNA sequencing data.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
}